#__nuxt {
    @apply min-h-screen flex flex-col;
}

html {
    font-family: "Outfit", sans-serif;
    font-weight: 400;

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}

.fade-enter-active,
.fade-leave-active {
    opacity: 1;
    transition: opacity 200ms;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transition: opacity 200ms;
}

body p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
